* {
    font-family: 'Raleway', monospace;
}

.drop {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
    border-radius: 15px;
    font-family: 'Raleway', monospace;
}

body {
    font-family: monospace;
    font-size: 16px;
    width: 100%;
    margin: 1em auto;
    position: relative;
    text-align: center;
}

/* Input file button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Pencil Loader */
.loader-pencil-content  {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: none;
}

.btn-pencil {
    align-items: center;
    background: #93e2cb;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 1rem;
    width: 160px;
}

/* loader CSS */
svg#loader-pencil {
    fill: #3a846e;
    width: 80px;
}
  
#line {
    animation: linePencil .8s infinite linear;
}

@keyframes linePencil {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150px);
    }
}

/* display */
div.container {
    margin-top: 10px;
}

.column-right {
    float: right;
    margin-top: inherit;
    width: 38%;
}

.column-left {
    float: left;
    margin-top: inherit;
    width: 58%;
}

.summary {
    
}
